.env
.env.*
!.env.example
/auth.json
/vendor/
/node_modules/
/public/build/
/public/hot
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/*.php
*.log
*.sqlite
*.sqlite3
database.sql
database_seed.sql
*.sql
.idea/
.vscode/
.DS_Store
Thumbs.db
Desktop.ini
*.swp
*.swo
